main {
  width: 80%;
  margin: 0 auto;
}
nav > ul {
  list-style: none;
  display: flex;
  margin: 0;
  margin-bottom: 20px;
}
nav > ul > li {
  justify-content: end;
  margin-right: 10px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main_img {
  width: 100%;
}
.article1 {
  display: flex;
  align-items: center;
  width: 100%;
}
.about_img {
  width: 40%;
  box-sizing: border-box;
  border-radius: 10%;
}
.about {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
}
.about_section {
  margin: 20px;
}

.article2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  height: 100%;
}
form {
}
.form-wrap {
  border: 3px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  height: 100%;
}
#sendBtn {
  width: 25%;
  margin: 25px 25px 0 25px;
}

.article2_img {
  width: 45%;
  border-radius: 10%;
}
.article3 {
  margin: auto;
}
.article3 > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.article3 > ul > li {
  width: 8%;
}
.article3 > ul > li > img {
  width: 100%;
}
h3 {
  text-align: center;
  margin: 0;
}
footer {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
